:root {
  --background-color: #fff;
  --background-color-transparent: rgba(255,255,255,0.6);
  --second-background-color: #fafafa;
  --third-background-color: #f4f4f4;
  --primary-color: #005080;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #5c6669;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --border-color: #b3b3b3;
  --selection-color: #0068a6;
  --shadow-color-1: rgba(0,0,0,0.08);
  --shadow-color-2: rgba(0,0,0,0.05);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #c1c1c1;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #fafafa;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-type-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
  --first-screen-text-color: #fff;
  --first-screen-icons-container-border-color: rgba(255,255,255,0.35);
  --first-screen-icons-container-background-color: rgba(255,255,255,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: '';
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --background-color-transparent: rgba(255,255,255,0.6);
    --second-background-color: #fafafa;
    --third-background-color: #f4f4f4;
    --primary-color: #005080;
    --first-text-color: #323739;
    --second-text-color: #343a3c;
    --third-text-color: #5c6669;
    --fourth-text-color: #eaeced;
    --default-text-color: #373d3f;
    --border-color: #b3b3b3;
    --selection-color: #0068a6;
    --shadow-color-1: rgba(0,0,0,0.08);
    --shadow-color-2: rgba(0,0,0,0.05);
    --shadow-hover-color: rgba(0,0,0,0.28);
    --scrollbar-color: #c1c1c1;
    --scrollbar-color-hover: #a1a1a1;
    --scroll-bar-bg-color: #fafafa;
    --link-color: #323739;
    --copyright-info-color: #c03;
    --avatar-background-color: #06c;
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
    --note-blue-title-bg: #d6f7fb;
    --note-red-title-bg: #fde9e9;
    --note-cyan-title-bg: #e9fdf9;
    --note-green-title-bg: #e9fde9;
    --note-yellow-title-bg: #fdf9e9;
    --note-gray-title-bg: #f9f9f9;
    --note-type-title-bg: #fdf3e9;
    --note-black-title-bg: #e9e9e9;
    --note-purple-title-bg: #f9e9fd;
    --first-screen-text-color: #fff;
    --first-screen-icons-container-border-color: rgba(255,255,255,0.35);
    --first-screen-icons-container-background-color: rgba(255,255,255,0.3);
    --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
    --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
    --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
    --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
    --mermaid-theme: '';
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202124;
    --background-color-transparent: rgba(32,33,36,0.4);
    --second-background-color: #242529;
    --third-background-color: #292b2f;
    --primary-color: #005080;
    --first-text-color: #d2d2d7;
    --second-text-color: #cbcbd1;
    --third-text-color: #9595a2;
    --fourth-text-color: #242429;
    --default-text-color: #bebec6;
    --border-color: #4a4c53;
    --selection-color: #0068a6;
    --shadow-color-1: rgba(255,255,255,0.08);
    --shadow-color-2: rgba(255,255,255,0.05);
    --shadow-hover-color: rgba(69,69,69,0.28);
    --scrollbar-color: #898989;
    --scrollbar-color-hover: #a1a1a1;
    --scroll-bar-bg-color: #2a2c30;
    --link-color: #c5c5cc;
    --copyright-info-color: #a30029;
    --avatar-background-color: #005cb8;
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
    --note-blue-title-bg: #1e3e46;
    --note-red-title-bg: #4e1e1e;
    --note-cyan-title-bg: #1e4e4e;
    --note-green-title-bg: #1e4e1e;
    --note-yellow-title-bg: #4e4e1e;
    --note-gray-title-bg: #4e4e4e;
    --note-type-title-bg: #4e3a1e;
    --note-black-title-bg: #1e1e1e;
    --note-purple-title-bg: #4e1e4e;
    --first-screen-text-color: #d1d1b6;
    --first-screen-icons-container-border-color: rgba(197,197,197,0.35);
    --first-screen-icons-container-background-color: rgba(197,197,197,0.3);
    --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
    --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
    --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
    --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
    --mermaid-theme: '';
  }
}
.light-mode {
  --background-color: #fff;
  --background-color-transparent: rgba(255,255,255,0.6);
  --second-background-color: #fafafa;
  --third-background-color: #f4f4f4;
  --primary-color: #005080;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #5c6669;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --border-color: #b3b3b3;
  --selection-color: #0068a6;
  --shadow-color-1: rgba(0,0,0,0.08);
  --shadow-color-2: rgba(0,0,0,0.05);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #c1c1c1;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #fafafa;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-type-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
  --first-screen-text-color: #fff;
  --first-screen-icons-container-border-color: rgba(255,255,255,0.35);
  --first-screen-icons-container-background-color: rgba(255,255,255,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: '';
}
.dark-mode {
  --background-color: #202124;
  --background-color-transparent: rgba(32,33,36,0.4);
  --second-background-color: #242529;
  --third-background-color: #292b2f;
  --primary-color: #005080;
  --first-text-color: #d2d2d7;
  --second-text-color: #cbcbd1;
  --third-text-color: #9595a2;
  --fourth-text-color: #242429;
  --default-text-color: #bebec6;
  --border-color: #4a4c53;
  --selection-color: #0068a6;
  --shadow-color-1: rgba(255,255,255,0.08);
  --shadow-color-2: rgba(255,255,255,0.05);
  --shadow-hover-color: rgba(69,69,69,0.28);
  --scrollbar-color: #898989;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #2a2c30;
  --link-color: #c5c5cc;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --note-blue-title-bg: #1e3e46;
  --note-red-title-bg: #4e1e1e;
  --note-cyan-title-bg: #1e4e4e;
  --note-green-title-bg: #1e4e1e;
  --note-yellow-title-bg: #4e4e1e;
  --note-gray-title-bg: #4e4e4e;
  --note-type-title-bg: #4e3a1e;
  --note-black-title-bg: #1e1e1e;
  --note-purple-title-bg: #4e1e4e;
  --first-screen-text-color: #d1d1b6;
  --first-screen-icons-container-border-color: rgba(197,197,197,0.35);
  --first-screen-icons-container-background-color: rgba(197,197,197,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: '';
}
.home-content-container {
  background: var(--background-color);
}
.home-content-container .seo-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}
.home-content-container .home-article-list .home-article-item {
  position: relative;
}
.home-content-container .home-article-list .home-article-item .top-icon {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 1.2rem;
  transform: rotate(45deg);
  color: var(--third-text-color);
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item .top-icon {
    font-size: 1.16rem;
  }
}
.home-content-container .home-article-list .home-article-item .home-article-thumbnail {
  position: relative;
  height: 150px;
  padding-bottom: 28px;
  overflow: hidden;
  border-radius: 18px 18px 0px 0px;
  margin: -28px -28px 20px -28px;
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item .home-article-thumbnail {
    border-radius: 14.4px;
    margin: -22.4px -22.4px 16px -22.4px;
    padding-bottom: 22.4px;
  }
}
@media (max-width: 500px) {
  .home-content-container .home-article-list .home-article-item .home-article-thumbnail {
    border-radius: 10.799999999999999px;
    margin: -16.8px -16.8px 12px -16.8px;
    padding-bottom: 16.8px;
  }
}
.home-content-container .home-article-list .home-article-item .home-article-thumbnail img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.home-content-container .home-article-list .home-article-item .home-article-title {
  position: relative;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--second-text-color);
  margin: 0;
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item .home-article-title {
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .home-content-container .home-article-list .home-article-item .home-article-title {
    font-size: 1.2rem;
  }
}
.home-content-container .home-article-list .home-article-item .home-article-content {
  word-wrap: break-word;
  text-align: justify;
  margin: 20px 0;
  color: var(--default-text-color);
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.92rem;
  color: var(--third-text-color);
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info {
  letter-spacing: 0.5px;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span {
  margin-right: 10px;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span:last-child {
  margin-right: 0;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span ul,
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span li {
  display: inline;
}
@media (max-width: 500px) {
  .home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info .home-article-category {
    display: none;
  }
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info .home-article-tag {
    display: none;
  }
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container hr {
  border: none;
  flex: 1;
  height: 1px;
  background: var(--border-color);
  margin: 0 10px;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container a {
  color: var(--third-text-color);
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container a:hover {
  color: var(--primary-color);
}
